<div class="col-sm-4">
  {% include components/icons/icon.liquid icon="envelope-o" %}
  <h3>Contacto</h3>

  <ul>
    {% if include.phone %}
      <li>
        <strong>Teléfono:</strong>
        <a class="btn-link text-white" href="tel:{{ include.phone }}">
          {{ include.phone }}
        </a>
      </li>
    {% endif %}

    {% if include.emergency %}
      <li>
        <strong>Emergencia:</strong>
        {{ include.emergency }}
      </li>
    {% endif %}

    {% if include.email %}
      <li>
        <strong>Correo:</strong>
        <a class="btn-link text-white" href="mailto:{{ include.email }}">
          {{ include.email }}
        </a>
      </li>
    {% endif %}
  </ul>
</div>
